<h1>Art Institute of Chicago</h1>
<a href="/">Home</a>
<div id="bodyAll" name="bodyAll">
  <div id="slide" name="slide"></div>
  <img id="imgId" class="gold" src=""/>
  <div id="picture" name="picture"></div>
  <div id="artist" name="artist"></div>
  <div id="category" name="category"></div>
  <div id="infoText" name="infoText"></div>
  <button id="startViewButton" name="startViewButton">Start</button>  
  <button id="backButton" name="backButton">Back</button>  
  <button id="nextButton" name="nextButton">Next</button>
</div>
