<h1>Art Institute of Chicago</h1>
<div id="bodyAll" name="bodyAll">
  <img id="imgId" src=""/>
  <div id="picture" name="picture"></div>
  <div id="artist" name="artist"></div>
  <div id="category" name="category"></div>
  <div id="infoText" name="infoText"></div>
  <button id="nextButton" name="nextButton">Next</button>
  <button id="backButton" name="backButton">Back</button>
</div>
